@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    transition: opacity 200ms ease-in-out;
  }

  .ReactModal__Content {
    position: relative;
    outline: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}
