@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: #d4e1ff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #bfd3ff;
  }

  body {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }

  input:focus {
    outline: none;
  }

  textarea:focus {
    outline: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-show::-webkit-scrollbar {
    display: block;
  }

  .hover-wrapper:hover .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .hover-wrapper:hover .edit-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .hover-wrapper:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed white;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 30;
  }

  .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    transition: opacity 200ms ease-in-out;
  }

  .ReactModal__Content {
    position: relative;
    outline: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    75% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-ring {
    animation: ring 0.5s ease-in-out infinite;
  }

  .cart-item-truncate-width {
    max-width: calc(100% - 6rem);
  }

  .fade-in {
    animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .moving-background {
    background-image: url("/images/wallpaper.jpg"),
      radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgb(0, 0, 0));
    background-blend-mode: screen;
    background-size: 125%;
    background-repeat: repeat-y;
    animation: moveZoomBackground 50s ease-in-out infinite,
      movePanBackground 60s ease-in-out infinite;
    user-select: none;
  }

  @keyframes moveZoomBackground {
    0%,
    100% {
      background-size: 125%;
    }
    50% {
      background-size: 100%;
    }
  }

  @keyframes movePanBackground {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
  }
}
